@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

@import "../css/reset.css";
@import "../css/grid.css";
@import "../css/superfish.css";



h1
{
	position:relative;
	
	text-shadow: 10px 10px 30px rgba(150, 150, 150, 1);
font-weight:normal;color:#FFF;letter-spacing:1pt;word-spacing:-5pt;font-size:25px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;
	}
#list_data{
	position:relative;
	top:30px;
	}
#data{
	position:relative;
	left:850px;
	}
	#ajj{
		position:relative;
		top:83px;}
		
		#ajj1{
		position:relative;
		top:83px;
		
		}
	.link_savon
	{position:relative; 
	padding-top:0px;
	font-family:Verdana, Geneva, sans-serif;
	top:-30px;
	
	
		}
	.matiere
	{
		position:relative;
		height:125px;
		width:220px;}
	#logo
	{position:relative;
	left:-500px;
	height:90px;}
	#true
	{
		position: 	absolute;
		width:220px;
		}
		
		#promotion
		{
			position:absolute;
		width:150px;
		}

html {width: 100%;}

a[href^="tel:"] {color: inherit;text-decoration:none;}
* {-webkit-text-size-adjust: none;}
.gaga{
	position:relative;
	top:10px;
	}
#sin{
	position:relative;
	left:1000px;
	}
#formulaire{
	position:relative;
	left:250px;
	top:50px;
	}

#formulaire label{
text-shadow: 10px 10px 30px rgba(150, 150, 150, 1);
font-weight:normal;color:#333333;letter-spacing:1pt;word-spacing:-5pt;font-size:25px;text-align:left;font-family:arial, helvetica, sans-serif;line-height:1;

	}

.tex {
		
background: #D3D3D3; 
background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(38%,#D9D9D9), color-stop(82%,#E5E5E5), color-stop(100%,#E7E7E7)); 
background: -webkit-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -o-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -ms-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: linear-gradient(to bottom, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7',GradientType=0 ); 
display: block; 
padding: 12px 10px; 
color: #999; 
font-size: 1.2em; 
font-weight: bold; 
text-shadow: 1px 1px 1px #FFF; 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 
border-radius: 3px; 
 outline:0; 
width:270px; 


		}
		 

#sub {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
#sub:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
#sub:active {
	position:relative;
	top:1px;
}

		 
#haha{
background: #D3D3D3; 
background: -moz-linear-gradient(top, #D3D3D3 0%, #D9D9D9 38%, #E5E5E5 82%, #E7E7E7 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D3D3D3), color-stop(38%,#D9D9D9), color-stop(82%,#E5E5E5), color-stop(100%,#E7E7E7)); 
background: -webkit-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -o-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: -ms-linear-gradient(top, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
background: linear-gradient(to bottom, #D3D3D3 0%,#D9D9D9 38%,#E5E5E5 82%,#E7E7E7 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#e7e7e7',GradientType=0 ); 
display: block; 
padding: 12px 10px; 
color: #999; 
font-size: 1.2em; 
font-weight: bold; 
text-shadow: 1px 1px 1px #FFF; 
border: 1px solid rgba(16, 103, 133, 0.6); 
box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5), inset 0px 1px 4px rgba(0, 0, 0, 0.2); 
border-radius: 3px; 
 outline:0; 
width:292px; 


		}
	#yoyo{
		position:relative;
		top:60px;
		width:400px;
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

#yoyo:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}
body {
	font: 12px/19px  Arial, Helvetica, sans-serif;
	color:#6f6f6f;
	position:relative;
	min-width: 1025px;
	background: #85ccd9;
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
h1, h2, h2, h4, h5, h6 {
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #16445c;
}
h2 {
	font-size: 32px;
	line-height: 1em;
	text-transform:uppercase;
}
h4 {
	font-size: 18px;
	line-height: 1em;
	color: #16445c;
	text-transform:uppercase;
}
p {margin-bottom: 19px;}
.text-info {color:#000;}
.lead {font-size:14px; color:#fe8948;}
p.lead {margin-bottom:10px;}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li{
	background: url(../images/marker.gif) 0 6px no-repeat;
	color: #6f6f6f;
	font-size:13px;
	margin-top:7px;
	padding-left: 27px;
}
ul.list li a{color: #6f6f6f;}
ul.list li a:hover{color: #fd6e43;}
/*links*/

a {
	text-decoration: none;
	color: #fe8948;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {color: #16445c;}


a.btn {
    	background: url(../images/btn.jpg) 0 0 repeat-x #fe8948;

	display: inline-block;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	line-height:1em;
	padding: 11px 30px 12px 30px;
	color: #fff;
	text-transform:uppercase;
	margin-top: 33px;
}

a.btn:hover {
	background:  #fe8948;
	color: #fff;
}
.clear {clear: both;}
.wrap {overflow:hidden;}
.indent-1 {padding:88px 0 35px 0;}
.indent-2 {padding:70px 0 25px 0;}

.top-1 {padding-top:91px;}
.bot-1 {padding-bottom:85px;}

/*----------- Back to top --------------*/
#toTop {
  display: none;
  width: 49px;
  height: 48px;
  overflow: hidden;
  background: url(../images/totop.png) 0 0 no-repeat;
  position: fixed;
  margin-right: -600px !important;
  right: 50%;
  bottom: 80px;
  z-index: 999;
}
#toTop:hover {
}
#toTop:active,
#toTop:focus {
  outline: none;
}
/*header*/

header {
	display: block;
	padding: 10px 0 0;
	z-index: 999;
	background:#242424;
}

header h1 {
	float: none;
	text-align:center;
	display:block;
	position: relative;
	z-index: 999;
	margin:0;
}
header h1 a {display: inline-block;}
header h1 a img {display: block;}

nav {background:#2ecc71; margin-top:10px; padding:7px 0 7px 0;}
nav .grid_12 {text-align:center;}

/*******content********/
#content {background: url(../images/content-bg.jpg) 0 0 repeat-x #f7f7f7;
}

.bg-1 {border-top:#c8cece 1px solid; border-bottom:#e0e0e0 1px solid; background: url(../images/bg-1.jpg) 0 0 repeat-x #f5f5f5;}
.bg-2 {background: #f1f1f1;}
.bg-3 {border-top:#dddddd 1px solid; border-bottom:#e2e2e2 1px solid;}
.border-1 {border-right:#d4d4d4 1px solid; padding-right:20px; padding-bottom:91px;}

.box-1 {margin-top:121px; margin-bottom:84px;}
.box-1 img {float:left;}
.box-1 h4 {overflow:hidden; padding-top:22px;}
.box-1 .wrap {padding-bottom:18px;}

.box-2 img {float:left; margin-right:20px;}

.list-news li {margin-top:45px;}
.list-news li:first-child {margin-top:0px;}
.list-news .wrap {padding-bottom:11px;}
.list-news .badge { background:#16445c; float:left; width:60px; padding:8px 0 8px 0; text-align:center; font-size:18px; line-height:1em; color:#fff; text-transform:uppercase; margin-right:20px;}
.list-news .badge span {display:block; font-size:10px;}

.list-people {margin-left:-20px; margin-top:-18px;}
.list-people li {float:left; margin-left:20px; margin-top:18px;}

.lists {overflow:hidden; margin-top:19px;}
.lists>div {float:left; width:160px;}

.list-project li {margin-top:91px;}
.list-project h4 {margin:39px 0 30px 0;}

.list-work li {margin-top:15px;}
.list-work li:first-child {margin-top:0px;}

/****************/
.carousel {padding-top:91px; padding-bottom:91px; position:relative;}

.carousel1 {
	cursor: default !important;
	overflow:hidden;
}
.carousel1 li {float: left; width:220px !important; margin-right:20px;}

.carousel_div {
	width: 960px;
	margin: 0 auto;
	
}
.carousel1 li h4 {color:#000; margin:39px 0 30px 0;}
a.prev1, a.next1 {
	width: 29px;
	height: 29px;
	top: 43px;
	position: absolute;
	display: block;
	z-index: 999;
	background:#3b708c;
}
a.next1 {
	right: 0px;
	background:url(../images/next.png) 0 0 no-repeat #3b708c;
}
a.prev1 {
	right: 34px;
	background:url(../images/prev.png) 0 0 no-repeat #3b708c;
}
a.next1:hover {background-color:#16445c;}
a.prev1:hover {background-color:#16445c;}

/*****************/
.map {padding-top:35px}
.map iframe {
  width: 100%;
  height: 462px;
  border: none;
}

address {font-size:14px; font-style:normal; margin-top:22px}
address dl {float:left; width:220px;}
address dl+dl {margin-left:20px;}
address dl dt {margin-bottom:19px;}
address dl span {display:inline-block; width:100px;}

/****Form****/

#form {padding-top: 30px; position:relative;}
#form .text-info {padding-bottom:3px;}
#form input {
	background:#fff;
	color:#6f6f6f;
	border: 1px solid #e5e5e5;
	padding: 6px 14px 7px 14px;
	width: 100%;
	height: 30px;
	float:left;
	font: 12px/15px  Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}



#form textarea {
	background:#fff;
	color:#6f6f6f;
	height: 273px;
	overflow: auto;
	border: 1px solid #e5e5e5;
	padding: 6px 14px 7px 14px;
	width: 100%;
	position: relative;
	resize:none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float:left;
	font: 12px/15px  Arial, Helvetica, sans-serif;
	margin: 0;
}
#form label {
	position:relative;
	display: block;
	min-height: 45px;
	width: 220px;
	float: left;
}
#form label .title {font-size:16px; padding:12px 0 9px; display:block;}
#form .error, #form .empty {
	color: #FF0000;
	display: none;
	font-size: 10px;
	line-height:12px;
	width:auto;
	position: absolute;
	z-index: 999;
	right: 5px;
	bottom: -12px;
	float:left;
}
#form .error-empty {
	display:none;
	float:left;}
#form .message {width: 100%;}


#form .success {
	display: none;
	position: absolute;
	width: 100%;
	font-size: 16px;
	background: #fff;
	border: 1px solid #e3e3e3;
	text-align: center;
	padding: 20px 10px;
	z-index: 999;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#form .btn {cursor:pointer;}


/************Footer***********/

footer {
	font-size: 12px;
	color: #6398a2;
	text-transform:uppercase;
	padding:21px 0 18px 0;
}
footer span {display:block; margin-top:6px;}
footer a {color: #6398a2;}
footer a:hover {color: #16445c;}
.soc-icon {display:block;}
.soc-icon li {display:inline-block; float:right; margin-left:13px;}
.soc-icon li a {display:block;}
.soc-icon li a img {opacity:0.46;}
.soc-icon li a:hover img {opacity:1;}




.email {
	border:solid 1px #fff;
	width:350px;
	height:35px;
	padding-left:10px;
	margin:5px 0;
}

.rounded{
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.shadow{
	-moz-box-shadow:inset 0 0 4px #999999;
   	-webkit-box-shadow:inset 0 0 4px #999999;
   	box-shadow:inset 0 0 4px #999999;
}

.engraved {
	text-shadow: -1px -1px #888888, 1px 1px #fff;
}
.engrave_text {
	text-shadow: 1px 1px #fff;
}

.color_text{
	color:#3498db;
}
.color_button {
	background-color:#ce1e1e;
}

#image_placeholder{
	float:left;
	width:160px;
	height:160px;
	margin-right:20px;
	padding:20px;
	border:solid 1px #fff;
	margin-top: 20px;
}
#navmenubody{position:absolute; top:210px; left: -5px; }

/*div#navmenu {width:184px; background:url(../images/menu_1.gif) top no-repeat; padding-top:44px;}*/

div#navmenubody {background:url(../images/menu_2.gif) repeat-y; padding-left:21px;}

div#navmenubottom {height:26px; background:url(../images/menu_4.gif) bottom no-repeat;}

ul#navmenulist {width:144px; list-style-type:none;}

ul#navmenulist li {height:27px; background:url(../images/menu_3.gif) bottom repeat-x;}

ul#navmenulist a {width:122px; height:20px; border-left:#75c5de 10px solid; font:bold 10px Verdana, Arial, sans-serif; color:#ffffff; text-decoration:none; padding:5px 0 0 10px; display:block !important; display:inline-block;}

ul#navmenulist a:hover {background:url(../images/menu_5.jpg) left repeat-y;}

.prodver{font-family: inherit;color: #000; font-size: 18px; margin-top: 10px; margin-bottom: 5px;}