 /* menu */
 
.sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
	display:inline-block;
    border-radius: 6px;
    zoom:1;
	}

.sf-menu :after {
    clear: both;
	content: "";
    display: table;
}
.sf-menu ul {
	position:absolute;  
	display:none;
    margin: 20px 0 0 0;
    left: 0;
    z-index: 1; 
    background: #444;   
    background: linear-gradient(#444, #111);
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  

 }

.sf-menu li {
	position:relative; float:left; 
    }

.sf-menu a {
	text-decoration:none; 
    float: left;
    padding: 12px 30px;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    color:#000;
   }

.sf-menu li:hover > ul {
    opacity: 1;
    visibility: visible;
 }
.sf-menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}
.sf-menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

.sf-menu ul li:last-child {   
    box-shadow: none;    
}

.sf-menu ul a {    
    padding: 10px;
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

.sf-menu ul a:hover {
    background-color: #4bd786;
    background-image: linear-gradient(#27ae60,#4bd786 );
	width:auto;
	
}
.sf-menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

.sf-menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #4bd786;
}

.sf-menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #4bd786;
}
.sf-menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

.sf-menu ul ul li:first-child a:hover:after {
    border-right-color: #04acec; 
    border-bottom-color: transparent;   
}

.sf-menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:99}


ul.sf-menu>li:first-child {margin-left:0;}
ul.sf-menu>li { display:inline-block; margin-left:40px;}



ul.sf-menu>li>a {font-size:18px; line-height:1em; color:#FFF; text-transform:uppercase; display:block; position:relative; padding:9px 21px 10px 21px; background:#27ae60}

ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}

ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover {background:url(../images/nav-btn.jpg) 0 0 repeat-x  #23ada3; color:#ecf0f1;}

.sf-menu>li>ul { background:url(../images/nav-ul.png) 0 0 repeat; left:0px; top:40px; padding:10px 10px 10px 10px; }

.sf-menu>li>ul>li {display:block; width:100%; text-align:left; margin-top:10px;}




.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{ }

.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {}

